body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(2,0,38);
    background: linear-gradient(to right, #000000, #330000, #000033); 
    background-size: 300% 100%; 
    animation: scrollBackground 30s linear infinite; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-family: Arial, Helvetica, sans-serif;
}

.mobile_only
{
    display:none;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00ff00; 
}

::-webkit-scrollbar-thumb:hover {
    background: #00cc00; 
}

main 
{
    width: 80vw;
    height:80vh;
    margin-top:10vh;
    display: flex;
    flex-direction:column;
}

.main_display {
    border: 2px solid #00ff00; 
    box-sizing: border-box;
    background-color: black;
    width:100%;
    height:80%;
    align-self:center;
    overflow:hidden;
}

.main_display_section {
    width:100%;
    height:100%;
    display:none;
    color:white;
}


.main_display_section:first-of-type {
    display:flex;
}

.main_box {
    height:10%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.main_box_button {
    background-color: black;
    width:15%;
    height:100%;
    padding:5px;
    border: 2px solid #00ff00; 
    position: relative;
    font-size: 1.5vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
}

.main_box_button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #00ff99;
    opacity: 0;
    transform: scale(1.2);
    z-index: 2;
    transition: opacity 0.3s, transform 0.3s;
    box-sizing: border-box;
}

.main_box_button:hover::before {
    opacity: 1;
    transform: scale(1);
}

.main_box_button:active {
    opacity: 1;
    transform: scale(0.9);
}

.box_button_top, .box_button_top::before
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.box_button_bottom, .box_button_bottom::before
{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.form 
{
    width:100%;
    margin:1vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 1.5vw;
}

.form label 
{
    margin-top:10px;
    margin-bottom:2px;
}

.input_text, .form select 
{
    font-size:1.5vh;
    width:15vw;
    height:2vh;
    background:black;
    color: white;
    border-color: #00ff00;
    box-shadow: 0 0 5px #00ff00;
}

.input_text:focus,  .form select:focus
{
    outline:none;
}

.form div
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox_box 
{
    position: relative;
    display: flex;
}

.checkbox_box input[type="checkbox"]:checked + span::before
{
    opacity:1;
}

.checkbox_box input[type="checkbox"]:checked + span::after
{
    opacity:1;
}

.checkbox_box input[type="checkbox"] 
{
    position: absolute;
    opacity: 0;
}

.checkbox_box span 
{
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background-color: black;
    margin-right:10px;
}

.checkbox_box span::after,span::before
{
    content: "";
    position: absolute;
    opacity:0;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #00ff00;
}

.checkbox_box span::after 
{
    transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox_box span::before
{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form textarea 
{
    background:black;
    border: 2px solid #00ff00; 
    box-sizing: border-box;
    color:white;
    font-size:1.5vw;
}

.form textarea:focus
{
    outline:none;
}

.form button 
{
    background-color: black;
    padding:20px;
    border: 2px solid #00ff00; 
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    color: white;
    font-size: 1.5vw;
    margin-top:20px;
}

.form button::before
{
    top:0;
    left:0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #00ff99;
    opacity: 0;
    transform: scale(1.2);
    border-radius: 20px;
    z-index: 2;
    transition: opacity 0.3s, transform 0.3s;
    box-sizing: border-box;
}

.form button:hover::before {
    opacity: 1;
    transform: scale(1);
}

.form button:active {
    transform: scale(0.9);
}

.form_additional
{
    display:flex;

}

.section_calculator
{
    width:100%;
    align-items: center;
    margin:auto;
    flex-direction: column;
    display:flex;
}

.section_calculator div
{
    width:40vw;
    display: flex;
}

.calculator_button
{
    width:4vw;
    height:4vw;
    font-size:2vw;
    background:black;
    color: white;
    border: 2px solid #00ff00; 
    box-sizing: border-box;
    position:relative;
}

.calculator_button::before
{
    top:0;
    left:0;
    content: "";
    position:absolute;
    width:100%;
    height:100%;
    border: 2px solid #00ff00; 
    box-sizing: border-box;
    opacity:0;
    transform: scale(1.2);
    transition: opacity 0.3s, transform 0.3s;
}

.calculator_button:hover::before
{
    opacity:1;
    transform: scale(1);
}

.calculator_button:active
{
    transform: scale(0.9);
}

.calculator_button_big
{
    font-size:1.4vw;
    width:12vw;
}

.calculator_display
{
    width:40vw;
    height:4vw;
    font-size:1.4vw;
    background:black;
    border: 2px solid #00ff00; 
    box-sizing: border-box;
    color:white;
}

.calculator_display:focus
{
    outline:none;
}
.section_school
{
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
}

.school_container
{
    display:flex;
    flex-direction: row;
    margin:10px;
    margin-top:20px;

}

.school_image
{
    width:40vw;
    margin-right:10px;
    max-width: 800px;
}

.school_container h1, h2, h3
{
    margin:0px;
    margin-bottom:1vw;
}

.school_container h1
{
    font-size:2vw;
}

.school_container h2
{
    font-size:1.8vw;
}

.school_container h3
{
    font-size:1.5vw;
}

.school_text
{
    font-size:1vw;
}

a
{
    color:white;
}

a:focus
{
    color:white;
}

.section_about
{
    font-size:1.2vw;
    overflow-y:scroll;
}

.about_container
{
    margin:20px;
    display:flex;
    align-items: center;
    
}

.about_image
{
    width:30vw;
    max-width:600px;
    margin-left:10px;
}

.section_projects 
{
    overflow-y: scroll;
}

.projects_image
{
    width:90%;
    margin-left:5%;
}

.projects_text
{
    text-align: center;
    font-size:1.5vw;
    margin:1vh;
    margin-top:3vh;
}

  @media only screen and (min-width: 601px) and (max-width: 1000px) {
    
    .checkbox_box
    {
        display:flex;
        align-items: center;
    }
    
    .about_image
    {
        min-width: 240px;
    }

    .school_container h1
    {
        font-size:15px;
    }

    .school_container h2
    {
        font-size:14px;
    }

    .school_container h3
    {
        font-size:13px;
    }

    .projects_text
    {
        font-size:11px;
    }

    .school_text
    {
        font-size:11px;
    }

    .form textarea 
    {
        font-size:14px;
        min-width:150px;
    }

    .section_about
    {
        font-size:12px;
    }

    .form button 
    {
        font-size: 15px;
    }

    .input_text, .form select 
    {
        font-size:12px;
        width:200px;
        height:20px;
    }
    
    .form 
    {
        font-size: 14px;
    }

    .main_box_button 
    {
        font-size: 15px;
        padding:3px;
    }

    .calculator_button
    {
        width:7.5vw;
        height:7.5vw;
        font-size:calc(15px+2vw);
    }

    .calculator_button_big
    {
        font-size:calc(10px+2vw);
        width:15vw;
        padding:0;
    }

    .calculator_display
    {
        width:60vw;
        height:calc(30px + 2vw);
        font-size:calc(12px+2vw);
    }
  }

  
  @media only screen and (max-width: 600px) {
    .about_image
    {
        width:100%;
        margin:0;
    }
    .about_container
    {
        flex-direction:column;
        font-size:calc(6px + 1vw);
    }

    .school_container
    {
        flex-direction: column;
    }

    .school_image
    {
        width:100%;
    }

    .school_container h1
    {
        font-size:calc(9px + 1vw);
    }

    .school_container h2
    {
        font-size:calc(8px + 1vw);
    }

    .school_container h3
    {
        font-size:calc(7px + 1vw);
    }

    .school_text
    {
        font-size:calc(6px + 1vw);
    }

    .projects_text
    {
        font-size:calc(6px + 1vw);
    }

    .form
    {
        flex-direction: column;
        overflow-y: scroll;
        font-size: calc(12px + 1vw);
        justify-content:unset;
        align-items: center;
    }

    .form button 
    {
        font-size: calc(12px + 1vw);
        max-width: 200px;
        margin-left:auto;
        margin-right: auto;
    }

    .input_text, .form select 
    {
        font-size:12px;
        width:calc(60px + 25vw);
        height:calc(12px + 2vw);
    }

    .form textarea 
    {
        font-size:calc(10px + 1vw);
        width: calc(60px + 25vw);
        margin-left:auto;
        margin-right:auto;
    }

    .section_calculator div
    {
        width:60vw;
    }

    .calculator_button
    {
        width:15vw;
        height:15vw;
        font-size:calc(12px + 2vw);
    }

    .calculator_button_big
    {
        font-size:calc(6px + 1.4vw);
        width:30vw;
        height:20vw;
        padding:0;
    }

    .calculator_display
    {
        width:60vw;
        height:calc(30px + 2vw);
        font-size:calc(7px + 1.4vw);
    }

    .mobile_only
    {
        display:block;
    }

    .not_on_mobile
    {
        display:none;
        width:0;
    }

    .main_box_button {
        width:20%;
        height:100%;
        font-size: calc(1px + 2.3vw);
    }
  }